
@import "sk.styl"

toolbar_height = 80px

body
  background #333
  overflow hidden
  color #aaa

#slider
  z-index 2
  background #ccc
  height 4px
  width 100%
  position fixed
  bottom 0

#renderer
  z-index 0
  position fixed
  padding 0
  height 100%
  width 50%

#toolbar
  z-index 1
  border-right 3px solid #111
  background rgba(0, 0, 0, 0.8)
  position fixed
  height 100%
  width 80px
  text-align center
  button
    outline none
    display block
    padding 10px 20px
    cursor pointer
    color #aaa
    background transparent
    border none
    font-size 2.8em
    transition .25s
    transform scale(0.75)
    &:hover
      transform scale(1.0)
      color #eee
