doctype html
html
  head
    title ShaderBox
    link(rel="stylesheet" href="index.css")
  body(ng-app="shaderbox")
    block app
    script(src="bower_components/angular/angular.js")
    script(src="bower_components/jwerty/jwerty.js")
    script(src="bower_components/threejs/build/three.js")
    script(src="vendors/three_plugins/orbitcontrols.js")
    script(src="scripts/index.js")
